.gameInterface{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;

}

.informationInterface{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

body{
    margin: 0;
    padding: 0;
}