.Chessboard{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Chessboard.black{
    flex-direction: column-reverse;
    transform: rotateY(180deg);
}

.Chessboard.black > .row > .chessSquare >.piece{
    transform: rotateY(180deg);
}

.informationInterface{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.Chessboard.black > .informationInterface{
    transform: rotateY(180deg);
}