.resultDisplay{
    position: absolute;
    height: 10vh;
    width: 50vw;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px black solid;
    background-color: white;
    text-align: center;
}